<nav role="navigation" class="navbar navbar-inverse">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <a href="#" class="navbar-brand">Taijah HR</a>
  </div>
  <!-- Collection of nav links, forms, and other content for toggling -->
  <div id="navbarCollapse" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li> <!-- the home link wont work -->
      <li class="dropdown">


     <li class="active"><a href="http://Taijah.GitHub.io/OtherProjects/CodeAcademy/index.html">Code Academy Badges</a></li>

    <!--  <li class="active"><a href="OtherProjects/JSQuestionsWeek3/indexQ1.html">JS Questions</a></li> -->
<li>  <a data-toggle="dropdown" class="dropdown-toggle" href="#">JS Questions<b class="caret"></b></a>
      <ul role="menu" class="dropdown-menu">
          <li><a href="http://Taijah.GitHub.io/OtherProjects/JSQuestionsWeek3/indexQ1.html">Week 3</a></li>
          <li> <a href="http://Taijah.GitHub.io/JSQuestions1-9/week5QLab/index.html"> Week5&6</a></li>
        </li>
        </ul>

    <li>  <a data-toggle="dropdown" class="dropdown-toggle" href="#">Bootstrap Pages<b class="caret"></b></a>
        <ul role="menu" class="dropdown-menu">
            <li><a href="http://Taijah.GitHub.io/OtherProjects/twitterBootstrap/Carousel.html">Carousel</a></li>
            <li> <a href="http://Taijah.GitHub.io/OtherProjects/twitterBootstrap/Week2/index.html"> Week2</a></li>
          </li>
          </ul>
          <li class="active"> <a data-toggle="dropdown" class="dropdown-toggle" href="#"> Take An Order <b class="caret"></b></a>
            <ul role="menu" class="dropdown-menu">
                <li><a href="http://Taijah.GitHub.io/OtherProjects/takeAnOrder/takeAnOrder.html">Regular</a></li>
                <li><a href="http://Taijah.GitHub.io/OtherProjects/takeAnOrder/takeAnOrderBootstrap.html"> Bootstrap</a></li>
              </li>
              </ul>
        <li class="active"><a href="http://Taijah.GitHub.io/OtherProjects/tictactoe.html">TicTactoe</a></li>

        <li class="active"> <a data-toggle="dropdown" class="dropdown-toggle" href="#"> Ajax <b class="caret"></b></a>
          <ul role="menu" class="dropdown-menu">
              <li><a href="http://Taijah.GitHub.io/OtherProjects/ajaxExamples/clients.html">Clients</a></li>
                <li><a href="http://Taijah.GitHub.io/OtherProjects/ajaxExamples/ajaxQ4.html">lab9</a></li>

            </li>
            </ul>

</ul>

    </ul>
  </div>
</nav>
