<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Violins</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="http://kgowan1409.github.io/otherProjects/finalProject/fcss/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<nav>
  <ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="http://kgowan1409.github.io/otherProjects/finalProject/partials/index.html">Home</a></li>
  <li role="presentation"><a href="http://kgowan1409.github.io/otherProjects/finalProject/partials/browse.html">Browse</a></li>
  <li role="presentation"><a href="http://kgowan1409.github.io/otherProjects/finalProject/partials/orderNow.html">Order</a></li>
  <li role="presentation"><a href="http://kgowan1409.github.io/otherProjects/finalProject/partials/sizing.html">Sizing</a></li>
  
</ul>
  
</nav>
  
</nav>
<style>
  img {
    vertical-align: text-top;
}
  
</style>
<body>
    <div class="browseContainer">

      <H1> Our Pieces </h1>
    </li>
          <!-- Violin Section  -->
            <div class="collection">
              <h2>  Violins </h2>
                <div class="col-md-4"> <img src="../fimages/Maple.JPG"> <p><span class="label label-success">Maple</span></p>  </div>
                <div class="col-md-4"> <img src="../fimages/spruce.jpg"> <p><span class="label label-success">Spruce</span></p>  </div>
            </div>

        <!-- Bows -->
          <div class="collection">
            <h2> Bows </h2>
            <div class="col-md-4"> <img src="../fimages/fiber.jpg"> <p><span class="label label-warning">Fiber Glass</span></p> </div>
            <div class="col-md-4"> <img src="../fimages/carbonfiber.jpg"> <p><span class="label label-warning">Carbon Fiber</span></p> </div>
            <div class="col-md-4"> <img src="../fimages/brazil.jpg"> <p><span class="label label-warning">Brazil Wood</span></p> </div>
            <div class="col-md-4"> <img src="../fimages/Pernumbuco.jpg"> <p><span class="label label-warning">Pernumbuco Wood</span></p> </div>
          </div>


          <!-- Cases  -->

          <div class="collection">
            <h2> Cases </h2>
            <div class="col-md-4"> <img src="../fimages/puffy.jpg"> <p><span class="label label-danger">1007 Puffy</span></p> </div>
            <div class="col-md-4"> <img src="../fimages/American-Eagle-Hill-Style-Case.jpg"> <p><span class="label label-dangero">Eagle Hill-Style</span></p> </div>
            </div>

          <p> See something you like? <a href="http://kgowan1409.github.io/otherProjects/finalProject/orderNow.html"> Order Now!</a></p>
  </div>





</body>

</html>
