<nav>
  <ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="http://kgowan1409.github.io/otherProjects/finalProject/partials/index.html">Home</a></li>
  <li role="presentation"><a href="http://kgowan1409.github.io/otherProjects/finalProject/partials/browse.html">Browse</a></li>
  <li role="presentation"><a href="http://kgowan1409.github.io/otherProjects/finalProject/partials/orderNow.html">Order</a></li>
  <li role="presentation"><a href="http://kgowan1409.github.io/otherProjects/finalProject/partials/sizing.html">Sizing</a></li>
  
</ul>
  
</nav>
    </ul>
  </div>
</nav>
