/*Style for about page */
.extras{
background-image:url(http://kgowan1409.github.io/otherProjects/finalProject/fimages/stringexpressions.png);

}

/* Styling For the Browse Page */
.collection{

}

/* order now css  */

.radio-inline{
display: none;

}

.browseContainer{
  background-image:url(fimages/stringexpressions.png) no-repeat;
  right:0px;
  top:0px;
  
}
.browseContainer img{
  vertical-align:auto;
  
}

body{
    background-image:url(fimages/3968_violin1.jpg);
  }
