/*Style for about page */


/* Styling For the Browse Page */
.collection{

}

/* order now css  */

.radio-inline{
display: none;


}

body{
    background-color:#C2C9CC;
   
  }
#show{
  padding-top:10px;
  padding-left:10px;
}
#string{
  top:0px;
  right:0px;
  position:absolute;
  width:186px;
  height:41px;
}
